{% extends "base.html" %}

{% load django_bootstrap5 %}

{% block title %}
  Страница о нас
{% endblock %}

{% block content %}
  <div class="container mt-5 col-7">
    <h3>Страница о нас</h3>
    <hr>
    <p class="mt-3">Вам предоставляется онлайн-конвертер видео при помощи которого можно быстро получить аудио-дорожку</p>
    <p>Наш сервис поддерживает такие форматы как: .MP4</p>
    <p>Как пользоваться нашим сервисом? Все очень просто!</p>
    <ol>
      <li>Необходимо зарегистрироваться или войти в уже существующий аккаунт</li>
      <li>Вставить загруженное видео в поле и нажать загрузить!</li>
      <li>После какого-то времени загрузить полученную аудиодорожку и наслаждаться звуком</li>
    </ol>
    <h5>Спасибо, что выбрали наш сервис!)</h5>
  </div>
{% endblock %}
